<% provide(:title, 'Home Page '+@page_num.to_s) %>
<% _idx = @page_num * 8 %>

<div class="row">
  <% @news_list.each do |news|%>
    <div class="news">
      <p class="news-title">
        <%= _idx += 1 %> .  <%= link_to news.title, item_path(id: news.id) %> <%= link_to_if(news_has_source?(news), safe_source(news), news.source) %>
      </p>
      <p class="news-info">
        by <%= news.author %> <%= cal_time_before(news.created_at)+' ago' %> | <%= link_to pluralize(safe_comments_counts(news), 'comment'), item_path(id: news.id) %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to 'More', '/news?p='+(@page_num + 1).to_s %>