<% provide(:title, 'Home Page '+@page_num.to_s) %>
<% _idx = @page_num * 8 %>

<div class="row">
  <% @news_list.each do |news|%>
    <div class="news">
      <p>
        <%= _idx += 1 %>.<%= news.title %><%= safe_source(news) %>
      </p>
      <p>
        by <%= news.author %> <%= news.created_at %> | <%= pluralize(safe_comments_counts(news), 'comment') %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to 'More', '/news?p='+@next_page_num.to_s %>