<% provide(:title, @school_news.title) %>
<h1 class="section-title">News:</h1> <hr> <br>
<div class="row">
  <div class="news">
    <p class="news-title">
      <%= link_to @school_news.title, schoolnews_path(@school_news) %> <%= link_to_if(news_has_source?(@school_news), safe_source(@school_news), @school_news.source)%>
    </p>
    <p class="news-info">
      by <%= @school_news.author %> <%= cal_time_before(@school_news.created_at)+' ago' %> | <%= link_to pluralize(safe_comments_counts(@school_news), 'comment'), schoolnews_path(@school_news) %>
    </p>
  </div>
</div>

<h1 class="section-title">Leave a comment:</h1> <hr> <br>
<div class="row">
</div>

<h1 class="section-title">All comments:</h1> <hr>
<div class="row">
  <% if @school_news.comments.nil? || @school_news.comments.length == 0 %>
    No one comments yet, go and leave a comment to be the first one!
  <% else %>
    <%= render @school_news.comments %>
  <% end %>
</div>