<% provide(:title, @school_news.title) %>

<div class="row">
  <div class="news">
    <p class="news-title">
      <%= @school_news.title %><%= safe_source(@school_news) %>
    </p>
    <p class="news-info">
      by <%= @school_news.author %> <%= cal_time_before(@school_news.created_at)+' ago' %> | <%= pluralize(safe_comments_counts(@school_news), 'comment') %>
    </p>
  </div>
</div>